<%# 
    Provides a page with a form for starting a new session (logging in a customer) 
    Based on code examples provided in Michael Hartl's online book "Ruby on Rails Tutorial" 3rd
    edition, available at https://www.railstutorial.org/book/log_in_log_out, accessed 30 Nov 2015.
%>
<h1>My Alcohol Free Wines - Login</h1>

<%= form_for(:session, url: login_path, method: "post") do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in", name: nil %>
<% end %>
