<p id="notice"><%= notice %></p>

<h1>Listing Wines</h1>

<%= form_tag wines_path, :method => "get" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Short description</th>
      <th>Price</th>
      <th>Supplier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr>
        <td><%= link_to(image_tag(wine.image_url),
                       wine_path(wine, page: @wines.current_page)) %></td>
        <td><%= wine.short_description + ' (' + wine.bottle_size + ')' %></td>
        <td><%= number_to_currency wine.price, unit: "£" %></td>
        <td><%= wine.company %></td>
        <td><%= link_to 'Show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Add to Basket', basket_items_path(wine_id: wine) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @wines %>
<br>

<%= link_to 'New Wine', new_wine_path %>
