<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @wine.image_url %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @wine.short_description %>
</p>

<p>
  <strong>Bottle size:</strong>
  <%= @wine.bottle_size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @wine.price %>
</p>

<p>
  <strong>Long description:</strong>
  <%= @wine.long_description %>
</p>

<p>
  <strong>Origin country:</strong>
  <%= @wine.origin_country %>
</p>

<p>
  <strong>Company:</strong>
  <%= @wine.company %>
</p>

<p>
  <strong>Grape type:</strong>
  <%= @wine.grape_type %>
</p>

<p>
  <strong>Is vegetarian:</strong>
  <%= @wine.is_vegetarian %>
</p>

<p>
  <strong>Add to Basket</strong>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
